body {
  background-color: #f7f7f7;
}

.main {
  margin: 100px;
  margin-top: 10px;
}

.header {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-one {
  background-color: #1569e0;
  text-align: center;
  height: 100px;
}
.header-two {
  padding: 10px;
}
.profile-pic {
  width: 150px;
  border-radius: 90%;
  
}
