a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #40514e;
}
body {
  background-color: #f7f7f7;
  margin: auto;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {
  padding: 20px 0;
}

h1 {
  width: 30%;
  margin: auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2 {
  color:  #66BFBF;
}

h3 {
  color:  #11999e;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

img {
  padding: 20px;
  margin: auto;
}

p {
  color: #40514e;
  width: 60%;
  margin: auto;
}
ul {

  margin-left: auto;
}

.bottomcloud {
  bottom: 350px;
  left: 150px;
  position: absolute;
}
.degree {
  font-style: italic;
}
.heading {
  padding-top: 150px;
  font-weight: bold;
  font-size: 60px;
}

.middle-container {
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 50px;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
}
.pro-pic {
  border-radius: 50%;
  width: 200px;
}
.work {
  margin-bottom: 0;
}
.skill-col-1 {
  display: table-cell;
  font-size: 1.2em;
  text-align: left;
  padding-left: 150px;
}
.skill-col-2 {
 display: table-cell;
 font-size: 1.2em;
 text-align: left;
 padding-left: 400px;
}
.University {
  font-weight: bold;
}
