a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #d84c73;
}
body {
  background-color: #f7f7f7;
  margin: auto;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {
  padding: 20px 0;
}

h1 {
  width: 30%;
  margin: auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2 {
  color:  #66BFBF;
}

h3 {
  color:  #11999e;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

hr {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 6px;
  border-style: dotted;
  width: 5%;
  height: 0;
  color: #D3D3D3;
  margin-top: 30px;
}

img {
  padding: 20px;
  margin: auto;
}

p {
  color: #40514e;
  width: 60%;
  margin: auto;
}
ul {

  margin-left: auto;
}

.bottomcloud {
  bottom: 350px;
  left: 150px;
  position: absolute;
}

.bottom-container {
  background-color: #11999e;
  height: 200px;
}

.btn {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Merriweather;
	font-size:15px;
	padding:12px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.btn:active {
	position:relative;
	top:1px;
}
.degree {
  font-style: italic;
}
.heading {
  width: 40%;
  padding-top: 150px;
  font-weight: bold;
  font-size: 70px;
}

.middle-container {
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 50px;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-bottom: 0;
}
.pro-pic {
  border-radius: 50%;
  width: 200px;
}
.work {
  margin-bottom: 0;
}
.mountain {
  padding-bottom: 0px;
}
.skill-col-1 {
  display: table-cell;
  font-size: 1.2em;
  text-align: left;
  padding-left: 150px;
}
.skill-col-2 {
 display: table-cell;
 font-size: 1.2em;
 text-align: left;
 padding-left: 400px;
}
.University {
  font-weight: bold;
}

.links {
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer-link {
  padding: 30px;
}
.copyright {
  color: #EAF6F6;
  font-size: 15px;
}
